#content_manager_left_panel{
    position: relative;
    height: 100%;
}

.left_panel_tab_container{
    display: flex;
    height: 30px;
    flex-direction: row;
    background: lightgray;
    margin-bottom: 20px;
}

.left_panel_tab{
    text-align: left;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: lightgrey;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left_panel_content_container{
    display: none;
    height: 100%;
}

.left_panel_content_container.selected_panel{
    display: block;
}

.tab_text{
    font-size: 17px;
    font-family: 'Chakra Petch', sans-serif;
    user-select: none;
}

.left_panel_tab:hover{
    background: rgb(183, 183, 183);
}

.left_panel_tab.selected_tab{
    background: white;
}

#menu_tab{
    width: 85%;
}

#information_tab{
    width: 15%;
    text-align: center;
}

#information_tab .tab_text{
    font-size: 20px;
}

.left_panel_menu_row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.left_panel_inner_row{
    display: flex;
    flex-direction: row;
}

.left_panel_row_text{
    display: flex;
    flex-direction: column;
}