.center_content_container{
    display: none;
    height: inherit;
}

.center_content_container.selected_content{
    display: block;
}

#content_manager_form{
    display: flex;
    flex-direction: column;
    height: inherit;
}