#content_manager_left_panel{
    display: flex;
    flex-direction: column;
    height: inherit;
}

.left_panel_tab_container{
    display: flex;
    opacity: 0;
    height: 6.5rem;
    flex-direction: row;
    padding: 1rem 0 2rem 0;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.3rem 0.1rem rgba(211, 211, 211, 0.65);
    clip-path: inset(0 0 -0.3rem 0);
}

.left_panel_tab_container.start{
    opacity: 1;
}

.left_panel_context_container{
    height: 100%;
    overflow: auto;
}

.left_panel_tab{
    display: flex;
    width: 5rem;
    flex-direction: column;
    border: none;
    cursor: pointer;
    align-items: center;
    color: grey;
    background-color: white;
    justify-content: space-evenly;
}

.left_panel_content_container{
    display: none;
    flex-direction: column;
    height: 100%;
}

.input_text_box{
    display: block;
}

.left_panel_content_container.selected_panel{
    display: flex;
    animation: opacity-animation 0.5s ease;
}

.tab_icon{
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

.tab_text{
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
    user-select: none;
    transition: all 0.3s ease;
}

.left_panel_tab:hover{
    color: black;
}

.left_panel_tab.selected_tab{
    animation: bounce-dot-animation 0.5s ease;
}

@keyframes bounce-dot-animation {
    0% {
        transform: translateY(0.5rem);
    }
    50% {
        transform: translateY(-1rem);
    }
}

.left_panel_tab.selected_tab .tab_icon{
    color: rgb(110, 0, 199)
}

.left_panel_tab.selected_tab .tab_text{
    color: black;
}

.selected_dot{
    opacity: 0;
    z-index: 2;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(128, 0, 225);
    transition: all 0.3s ease;
}

.left_panel_tab.selected_tab .selected_dot{
    opacity: 1;
    animation: dot_animation 0.5s cubic-bezier(0.5, 1, 0.3, 2);
    animation-delay: 0.05s;
}

@keyframes dot_animation {
    0% {
        transform: translateY(10px);
    }
}

.left_panel_menu_row{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    transition: all 0.5s ease;
}

.left_panel_menu_row.start{
    animation: show-animation-from-top calc(0.1s * var(--t)) ease;
}

.left_panel_inner_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    height: 75px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

.left_panel_menu_row.selected_row .left_panel_inner_row{
    background-color: rgba(222, 222, 222, 0.3);
}

.left_panel_inner_row:hover{
    background-color: rgba(222, 222, 222, 0.5);
}

.left_panel_icon{
    font-size: 25px;
}

.left_panel_row_text{
    width: 190px;
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-left: 20px;
}

.left_panel_icon_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.5rem;
}

.row_text_title{
    font-family: 'Chakra Petch', sans-serif;
    font-size: medium;
    user-select: none;
    margin-bottom: 0.3rem;
}

.row_text_description{
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
    color: grey;
    user-select: none;
}

.current_bar{
    position: absolute;
    right: 0;
    width: 0.3rem;
    height: inherit;
    background-color: rgb(128, 0, 225);
    opacity: 0;
    transition: all 0.2s ease;
}

.left_panel_menu_row.selected_row .current_bar{
    opacity: 1;
}

#icon_background_content{
    background-color: rgba(0, 0, 255, 0.05);
}

#icon_content{
    color: rgb(128, 0, 225);
}

#icon_background_field{
    background-color: rgba(0, 217, 255, 0.05);
}

#icon_field{
    color: rgb(0, 169, 225);
}

#icon_background_page{
    background-color: rgba(11, 202, 212, 0.05);
}

#icon_page{
    color: rgb(0, 225, 191);
}