.left_panel_content_inner_container{
    width: 100%;
    height: fit-content;
}

.left_panel_content_list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.left_panel_content_list li{
    display: flex;
    flex-direction: row;
}