.center_content_header_container{
    padding: 10px;
    position: relative;
    height: 50px;
}

.content_header_submit#content_save{
    position: absolute;
    right: 0;
}

.content_header_text#content_name_text{
    width: fit-content;
    font-size: 30px;
    height: inherit;
    outline: none;
    border: none;
    background: transparent;
}

.content_header_text#content_name_text::placeholder{
    color: rgb(169, 169, 169);
}
