.inner_body_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: white;
}

.footer_text_anchor{
    display: flex;
    font-size: 15px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: inherit;
    height: inherit;
    margin: 30px 5px 5px 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.318);
    transition: all 0.2s ease;
}

.footer_text_anchor:hover{
    color: white;
    background-color: rgba(44, 0, 94, 0.692);
}

.footer_text_anchor:active{
    transform: scale(0.7)
}

.footer_anchor_text{
    user-select: none;
    margin-left: 5px;
    font-family: 'Chakra Petch', sans-serif;
}

