.center_content_header_container{
    position: relative;
    width: 90%;
    height: 5rem;
    margin: 3rem 0;
}

#table_submit{
    padding: 0.5rem 1rem;
    display: inline-block;
    position: absolute;
    background-color: lightgrey;
    box-shadow: 0 0 0.1rem 0.1rem lightgrey;
    border-radius: 0.5rem;
    right: 0;
    bottom: 30%;
    cursor: pointer;
}

.content_header_submit#content_save{
    border: none;
    background: none;
    padding: 0;
    font-size: 1.5rem;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#table_name_input{
    font-size: 0;
    display: inline-flex;
    align-items: baseline;
}

#table_name_edit{
    display: inline-flex;
    user-select: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease;
}

#table_name_edit:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 300%;
    animation: shine 2s linear infinite;
}

#table_name_edit:active{
    color: rgb(104, 104, 104);
    transform: scale(0.7);
}

.content_header_text#content_name_text{
    font-size: 3rem;
    height: inherit;
    font-family: monospace;
    font-weight: 100;
    user-select: none;
    outline: none;
    pointer-events: none;
    border: none;
    background: transparent;
}

.content_header_text#content_name_text::placeholder{
    color: rgb(169, 169, 169);
}