.dropdown-content {
    z-index: 2;
    display: none;
    position: absolute;
    bottom: 0;
    width: 15rem;
    box-shadow: 0 0 0.2rem 0.1rem rgb(224, 224, 224);
    border-radius: 0.2rem;
    background: white;
}

.dropdown-content.show {
    display: inline-block;
    --horizontal: -0.2rem;
    --isVisible: 0;
    animation: show-from-left-or-right 0.2s ease;
}

#dropdown-form {
    cursor: pointer;
}

.dropdown-content-anchor {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.dropdown-content-anchor:hover {
    background-color:rgb(201, 201, 201)
}

.dropdown-content-anchor.disabled {
    color: gray;
    pointer-events: none;
    cursor: default;
}
