.modal-container {
    z-index: 99;
    display: none;
    position: absolute;
    width: inherit;
    top: 4rem;
    justify-content: center;
}

.modal-box {
    display: flex;
    align-items: center;
    text-align: left;
    width: 70rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.1rem lightgrey;
}

.modal-text {
    width: 100%;
    color: black;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.modal-container.show-modal {
    display: flex;
    animation: opacity-animation 0.2s ease;
}

.mark-div {
    width: 3rem;
    flex: 0 0 3rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.1s ease;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

.mark-div:hover {
    background-color: lightgray;
}

.mark-div:active {
    background-color: #191970;
}

.close-modal {
    color: black;
    padding: 0.5rem;
    font-size: 2rem;
}

.caution-div {
    width: 3rem;
    text-align: center;
    margin-left: 0.5rem;
}

.caution-modal {
    color: gray;
    padding: 0.5rem;
    font-size: 2rem;
}