.column-header-container {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    padding: 3rem 0;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(144, 0, 255, 0.2);
}

#table-icon {
    font-size: 3.5rem;
    margin-left: 3rem;
    color: blueviolet;
}

#table-name-input {
    font-size: 0;
    display: inline-flex;
    align-items: baseline;
    margin-left: 2rem;
}

#table-name-edit {
    display: inline-flex;
    font-size: 1.2rem;
    margin-left: 0.75rem;
    padding: 0.5rem;
    user-select: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease;
}

#table-name-edit:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 300%;
    animation: shine 2s linear infinite;
}

#table-name-edit:active {
    color: rgb(104, 104, 104);
    transform: scale(0.7);
}

.content-header-text#content-name-text {
    font-size: 3rem;
    height: inherit;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    outline: none;
    pointer-events: none;
    border: none;
    background: transparent;
}

.content-header-text#content-name-text::placeholder {
    color: rgb(169, 169, 169);
}

.header-description {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 70rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
}

.header-description-text {
    font-size: 1.5rem;
    color: gray;
    width: inherit;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
}

#description-info {
    font-size: 1.25rem;
    margin-left: 0.5rem;
    color: blueviolet;
    cursor: pointer;
    transition: all 0.2s ease;
}

#description-info:hover {
    color: gray;
}

#description-info:active {
    transform: scale(0.8);
}

.column-body-container{
    width: inherit;
}

.column-body-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.single-column-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    width: 90%;
    height: 4.5rem;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
}

.single-column-container.start {
    --vertical: -2rem;
    --isVisible: 0;
    animation: show-from-top-or-bottom calc(0.1s * var(--c)) ease;
}

.column-front-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    font-size: 1.2rem;
    width: 2%;
    cursor: move;
    background-color: rgba(137, 43, 226, 0.3);
    height: 100%;
}

.column-body-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem;
    width: 88%;
}

.column-part {
    font-size: 1.2rem;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 1rem;
}

.column-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    color: purple;
    background-color: rgba(137, 43, 226, 0.1);
}

.column-body-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.column-body-type {
    font-size: 1.3rem;
}

.column-footer-icon {
    cursor: pointer;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

.column-rear-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    height: 100%;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.column-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}