.inner-body-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 2rem 0;
    border-radius: 0.5rem;
    background-color: white;
}

.footer-text-anchor{
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: inherit;
    margin: 3rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    background-color: rgba(211, 211, 211, 0.318);
    transition: all 0.2s ease;
}

.footer-text-anchor:hover{
    color: white;
    background-color: rgba(44, 0, 94, 0.692);
}

.footer-text-anchor:active{
    transform: scale(0.9)
}

.footer-anchor-text{
    user-select: none;
    margin-left: 0.5rem;
    font-family: 'Chakra Petch', sans-serif;
}

