{% extends 'side-base.html' %}

{% block title %}Home{% endblock%}

{% block content %}
{{ super() }}
<div class='home-main-container'>
    <div class='main-mask'>
        <div class='context-container'>
            <div class='home-container welcome-container'>
                <h1 class='welcome-header'>MANAGE YOUR CONTENT</h1>
            </div>
            <div class='home-container description-container'>
                <span class='description-text'>This is an on developing headless cms project for learning & research purpose</span><br>
                <span class='description-text'>Please feels free to check it out</span>
            </div>
            <div class='home-container start-container'>
                <span class='start-line'></span>
                <a class='start-anchor' href='/database'>
                    <span class='start-text'>Start</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block static %}
{{ super() }}
<link rel='stylesheet' type='text/css' href="{{ url_for('home_bp.static', filename='css/home.css') }}">
{% endblock static %}

{% block script %}
{{ super() }}
{% endblock script %}