{% import 'input/input-share.html' as input %}

<div class='login-container'>
    <div class='inner-login-container'>
        <span class='welcome-text login-title' id='login-text'>USER LOGIN</span>
        <form autocomplete='off' class='login-form' id='login-form' method='POST'>
        <input type='hidden' name='csrf_token' value='{{ csrf_token() }}'>

            {{ input.text_input_with_bottom_border('username-textbox', 'text', 'username', 'Username') }}

            {{ input.text_input_with_bottom_border('password-textbox', 'password', 'password', 'Password') }}

            {{ input.submit_input('login-btn', 'Log In') }}
        </form>
    </div>
</div>