<div class='login-container'>
    <div class='inner-login-container'>
        <span class='welcome-text login-title' id='login-text'>USER LOGIN</span>
        <form autocomplete='off' class='login-form' id='login-form' method='POST'>
        <input type='hidden' name='csrf_token' value='{{ csrf_token() }}'>
        
        <fieldset class ='login-fieldset'>
            <input class='form-textbox' id='username-textbox' type='text' name='username' placeholder='Username' required>
        </fieldset>
        
        <fieldset class='login-fieldset'>
            <input class='form-textbox' id='password-textbox' type='password' name='password' placeholder='Password' required>
        </fieldset>

        <input class='submit-btn' id='login-btn' type='submit' name='Log In'>
        </form>
    </div>
</div>