{% extends 'base.html' %}

{% block static %}
<link rel='stylesheet' href='static/css/side-base.css'/>
<link rel='stylesheet' href='static/css/scroll-bar.css'/>
<link rel='stylesheet' href='static/css/dropdown.css'/>
{% endblock static %}

{% block side %}
<div class='side-inner-container'>
    <div class='side-header-container'>
        <a id='home-anchor' href='/home'>
            <span class='logo-text'>C</span>
            <span class='header-text'>CMSystem</span>
        </a>
        <i class='side-anchor-icon fa-solid fa-bars' id='collapse-menu-btn'></i>
    </div>

    <div class='side-content-container'>
        <div class='side-menu-group' id='side-content'>
            <ul class='side-menu-list'>
                <li class='side-li'>
                    <a class='side-anchor' id='database-anchor' href='/database'>
                        <i class='side-anchor-icon fa-solid fa-layer-group'></i>
                        <span class='side-anchor-text'>Database</span>
                    </a>
                    <span class='side-tooltip' id='database-tooltip'>Database</span>
                </li>
            </ul>
        </div>

        <div class='side-menu-group' id='side-plugin'>
            <ul class='side-menu-list'>
                <li class='side-li'>
                    <a class='side-anchor' id='content-manager-anchor' href='/content-manager'>
                        <i class='side-anchor-icon fa-solid fa-hammer'></i>
                        <span class='side-anchor-text'>Content Manager</span>
                    </a>
                    <span class='side-tooltip' id='content-manager-tooltip'>Content Manager</span>
                </li>
                
                <li class='side-li'>
                    <a class='side-anchor' id='media-anchor' href=''>
                        <i class='side-anchor-icon fa-solid fa-photo-film'></i>
                        <span class='side-anchor-text'>Media</span>
                    </a>
                    <span class='side-tooltip' id='media-tooltip'>Media</span>
                </li>
            </ul>
        </div>

        <div class='side-menu-group' id='side-administration'>
            <ul class='side-menu-list'>
                <li class='side-li'>
                    <a class='side-anchor' id='dashboard-anchor' href=''>
                        <i class='side-anchor-icon fa-solid fa-chart-pie'></i>
                        <span class='side-anchor-text'>Dashboard</span>
                    </a>
                    <span class='side-tooltip' id='dashboard-tooltip'>Dashboard</span>
                </li>
            </ul>
        </div>

        <div class='side-menu-group' id='side-lougout'>
            <ul class='side-menu-list'>
                <li class='side-li'>
                    <a role="button" class='side-anchor dropdown-button' id='logout-anchor'>
                        <i class="side-anchor-icon fa-solid fa-user"></i>
                        <span class='side-anchor-text'></span>
                    </a>
                    <span class='side-tooltip' id='logout-tooltip'>Profile</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock side %}

{% block content %}
{% include 'dropdown/dropdown.html' %}
{% endblock content %}

{% block script %}
<script src='static/js/side.js'></script>
<script src='static/js/dropdown.js'></script>
{% endblock script %}