{% macro create_side_menu_list(anchor_id, list_number, href_add, icon_class, anchor_text, tooltip_text) -%}
    <li class='side-li' style='--li-num: {{ list_number }}'>
        <a class='side-anchor' id='{{ anchor_id }}' href=' {{ href_add }}'>
            <i class='side-anchor-icon {{ icon_class }}'></i>
            <span class='side-anchor-text'>{{ anchor_text }}</span>
        </a>
        <span class='side-tooltip'>{{ tooltip_text }}</span>
    </li>
{%- endmacro %}

{% macro create_left_panel_container(left_panel_content_container_id, is_selected=false) -%}
    {% if is_selected %}
        {% set selected='selected-panel' %}
    {% else %}
        {% set selected='' %}
    {% endif %}

    <div class='left-panel-content-container {{ selected }}' id='{{ left_panel_content_container_id }}'>
        {{ caller('content') }}
    </div>
{%- endmacro %}

{% macro create_custom_tab(tab_id, icon_class, icon_id, tab_text, is_selected=false) -%}
    {% if is_selected %}
        {% set selected='selected-tab' %}
    {% else %}
        {% set selected='' %}
    {% endif %}

    <button class='left-panel-tab {{ selected }}' id='{{ tab_id }}'>
        <i class='tab-icon {{ icon_class }}' id='{{ icon_id }}'></i>
        <span class='tab-text'>{{ tab_text }}</span>
        <div class='selected-dot'></div>
    </button>
{%- endmacro %}

{% macro create_left_panel_menu_btn(row_id, row_nth, icon_bg_id, icon_class, icon_id, row_title, row_description, is_selected=false) -%}
    {% if is_selected %}
        {% set selected='selected-row' %}
    {% else %}
        {% set selected='' %}
    {% endif %}

    <div class='left-panel-menu-row {{ selected }}' id='{{ row_id }}' style='--t: {{ row_nth }}'>
        <div class='left-panel-inner-row'>
            <div class='left-panel-icon-background' id='{{ icon_bg_id }}'> 
                <i class='left-panel-icon {{ icon_class }}' id='{{ icon_id }}'></i>
            </div>
            <div class='left-panel-row-text'>
                <span class='row-text-title'>{{ row_title }}</span>
                <span class='row-text-description'>{{ row_description }}</span>
            </div>
            <div class='current-bar'></div>
        </div>
    </div>
{%- endmacro %}