{% macro create_side_menu_list(anchor_id, href_add, icon_class, anchor_text, tooltip_text) -%}
    <li class='side-li'>
        <a class='side-anchor' id='{{ anchor_id }}' href=' {{ href_add }}'>
            <i class='side-anchor-icon {{ icon_class }}'></i>
            <span class='side-anchor-text'>{{ anchor_text }}</span>
        </a>
        <span class='side-tooltip'>{{ tooltip_text }}</span>
    </li>
{%- endmacro %}

{% macro create_custom_tab(tab_id, icon_class, icon_id, tab_text, is_selected=false) -%}
    {% if is_selected %}
        {% set selected='selected-tab' %}
    {% else %}
        {% set selected='' %}
    {% endif %}

    <button class='left-panel-tab {{ selected }}' id='{{ tab_id }}'>
        <i class='tab-icon {{ icon_class }}' id='{{ icon_id }}'></i>
        <span class='tab-text'>{{ tab_text }}</span>
        <div class='selected-dot'></div>
    </button>
{%- endmacro %}