html, body, #content{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    display: flex;
}

.page_loader{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
}

.loading_text {
    display: inline-block;
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    letter-spacing: 5px;
    animation: bar 1.5s cubic-bezier(.81, .04, .4, .7) infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes bar {
    0% {
    transform: rotate(1turn) rotateX(1turn);
    }
    75%, 100% { transform: none; }
}

.modal_container{
    display: flex;
    position: fixed;
    width: inherit;
    justify-content: center;
}

.modal_box{
    display: inline-flex;
    align-items: center;
    z-index: 99;
    position: fixed;
    text-align: left;
    top: 40px;
    width: 700px;
    height: 35px;
    border-radius: 5px;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 5px 1px lightgrey;
    transition: all 0.2s ease;
}

.modal_text{
    width: calc(100% - 60px);
    color: black;
    margin-left: 5px;
    font-size: 13px;
}

.show_modal{
    opacity: 1;
}

.mark_div{
    width: 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    margin-right: 5px;
    border-radius: 5px;
}

.mark_div:hover{
    background-color: lightgray;
}

.mark_div:active{
    background-color: #191970;
}

.close_modal{
    color: black;
    padding: 5px;
    font-size: 20px;
}

.caution_div{
    width: 30px;
    text-align: center;
    margin-left: 5px;
}

.caution_model{
    color: gray;
    padding: 5px;
    font-size: 20px;
}