#side{
    z-index: 5;
    width: 60px;
    flex: 0 0 60px;
    height: 100%;
    transition: all .2s ease;
}

#content{
    opacity: 1;
    height: 100%;
    transition: all 1s ease;
}

.side_inner_container{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #27254d, #c7a0de);
}

.side_header_container{
    width: 100%;
    height: 50px;
}

#home_anchor{
    position: absolute;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
    text-decoration: none;
    transition: all 0.2s ease;
    opacity: 0;
}

.logo_text{
    font-family: 'Beau Rivage';
    font-size: 25px;
    line-height: 50px;
    color: black;
    padding: 0 8px 0 8px;
    margin-left: 12px;
    pointer-events: none;
    border-radius: 10px;
    background-color: white;
}

.header_text{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 50px;
    margin-left: 10px;
    pointer-events: none;
}

#collapse_menu_btn{
    position: absolute;
    cursor: pointer;
    line-height: 50px;
    margin: 0;
    left: 24px;
    transition: all 0.2s ease;
}

.side_anchor_icon{
    font-size: 15px;
    line-height: 60px;
    color: white;
    margin-left: 21px;
}

.side_anchor:hover, #collapse_menu_btn:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 300%;
    animation: shine 2s linear infinite;
}

.side_anchor:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}

.side_content_container{
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
}

.side_menu_group{
    width: 100%;
    border-top: 1px solid white;
}

.side_menu_group#side_logout{
    position: fixed;
    width: 60px;
    border-top: none;
    transition: all 0.2s ease;
    bottom: 0;
}

.side_menu_list{
    padding: 0;
    margin: 0;
}

.side_li{
    width: 100%;
    height: 60px;
    list-style-type: none;
    line-height: 60px;
}

.side_anchor{
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown_button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: medium;
    font-family: 'Chakra Petch', sans-serif;
}

.dropdown_button::after{
    position: absolute;
    content: '\f0da';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    color: white;
    right: 5px;
}

.dropdown_button:hover{
    border-bottom: 1px solid gray;
}

.side_anchor.current_anchor{
    background-color: rgba(255, 255, 255, 0.1);
}

.side_anchor_text{
    position: fixed;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease;
}

.tooltip{
    z-index: 2;
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    pointer-events: none;
    border-radius: 10px;
    color: white;
    background-color: #27254d;
    margin-top: 15px;
    font-size: 15px;
    left: 60px;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.3s ease;
}

#logout_tooltip{
    top: 0;
}

.side_li:hover .tooltip{
    opacity: 1;
    left: 75px;
}

#side.expand{
    width: 250px;
    flex: 0 0 250px;
}

#side.expand #home_anchor{
    pointer-events: auto;
    opacity: 1;
}

#side.expand #side_logout{
    width: 250px;
}

#side.expand #collapse_menu_btn{
    left: 220px;
}

#side.expand .side_anchor_text{
    opacity: 1;
}

#side.expand .tooltip{
    display: none;
}

.dropdown_content{
    z-index: 2;
    display: none;
    position: absolute;
    bottom: 0;
    width: 150px;
    box-shadow: 0 0 5px 1px rgb(224, 224, 224);
    border-radius: 2px;
    background: white;
    transition: all 1s ease;
}

.dropdown_content.show{
    display: inline-block;
    animation: profile-show-animation 0.2s ease;
}

@keyframes profile-show-animation {
    0% {
        transform: translateX(-150px);
    }
}

.dropdown_form{
    cursor: pointer;
}

.dropdown_content_anchor{
    display: block;
    padding: 5px 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.dropdown_content_anchor:hover{
    background-color:rgb(201, 201, 201)
}

.dropdown_content_anchor.disabled{
    color: gray;
    pointer-events: none;
    cursor: default;
}
