#side{
    z-index: 5;
}

#content{
    opacity: 1;
    height: 100%;
    transition: all 1s ease;
}

.side-inner-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 6rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .2s ease;
    background: linear-gradient(180deg, #27254d, #c7a0de);
}

.side-header-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5rem;
}

#home-anchor{
    display: none;
    cursor: pointer;
    text-decoration: none;
}

.logo-text{
    font-family: 'Beau Rivage';
    font-size: 2.5rem;
    color: black;
    padding: 0 0.8rem 0 0.8rem;
    margin-left: 1.2rem;
    user-select: none;
    border-radius: 1rem;
    background-color: white;
}

.header-text{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.8rem;
    color: white;
    user-select: none;
    margin-left: 1rem;
    pointer-events: none;
}

#collapse-menu-btn{
    display: flex;
    align-items: center;
    height: inherit;
    position: relative;
    cursor: pointer;
    margin: 0;
    left: 2.4rem;
    transition: all 0.3s ease;
}

.side-anchor-icon{
    font-size: 1.5rem;
    color: white;
    margin-left: 2.1rem;
}

.side-anchor:hover, #collapse-menu-btn:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 300%;
    animation: shine 2s linear infinite;
}

.side-anchor:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.side-content-container{
    display: flex;
    flex-direction: column;
    height: calc(100% - 5rem);
    min-height: 30.4rem;
}

.side-menu-group{
    border-top: 0.1rem solid white;
}

.side-menu-group#side-lougout{
    margin-top: auto;
    width: 6rem;
    border-top: none;
    transition: all 0.2s ease;
    bottom: 0;
}

.side-menu-list{
    padding: 0;
    margin: 0;
}

.side-li{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6rem;
    list-style-type: none;
}

.side-anchor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown-button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: medium;
    font-family: 'Chakra Petch', sans-serif;
}

.dropdown-button::after{
    position: absolute;
    content: '\f0da';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    color: white;
    right: 0.5rem;
}

.side-anchor.current-anchor{
    background-color: rgba(255, 255, 255, 0.1);
}

.side-anchor-text{
    display: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    pointer-events: none;
    transition: all 0.2s ease;
}

.side-tooltip{
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 15rem;
    height: 3rem;
    pointer-events: none;
    border-radius: 1rem;
    color: white;
    background-color: #27254d;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    left: 7.5rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.side-li:hover .side-tooltip{
    display: flex;
    --horizontal: -0.2rem;
    --isVisible: 0;
    animation:show-from-left-or-right 0.5s ease;
}

.side-inner-container.expand{
    width: 25rem;
    flex: 0 0 25rem;
}

.side-inner-container.expand #home-anchor{
    display: block;
    --horizontal: -0.2rem;
    --isVisible: 0;
    animation:show-from-left-or-right 0.5s ease;
}

.side-inner-container.expand #side-lougout{
    width: 25rem;
}

.side-inner-container.expand #collapse-menu-btn{
    left: 7rem;
}

.side-inner-container.expand .side-anchor-text{
    display: block;
    --horizontal: -0.2rem;
    --isVisible: 0;
    animation:show-from-left-or-right 0.5s ease;
}

.side-inner-container.expand .side-tooltip{
    display: none;
}