.left-panel-tab {
    display: flex;
    width: 5rem;
    flex-direction: column;
    border: none;
    cursor: pointer;
    align-items: center;
    color: grey;
    background-color: transparent;
    justify-content: space-evenly;
}

.tab-icon {
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

.tab-text {
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
    user-select: none;
    transition: all 0.3s ease;
}

.left-panel-tab:hover {
    color: black;
    --vertical: 0.3rem;
    animation: bounce-from-top-or-bottom 0.5s ease;
}

.left-panel-tab.selected-tab {
    --vertical: 0.5rem;
    --vRebounce: -1rem;
    animation: rebounce-from-top-or-bottom 0.5s ease;
}

.left-panel-tab.selected-tab .tab-icon {
    color: rgb(110, 0, 199)
}

.left-panel-tab.selected-tab .tab-text {
    color: black;
}

.selected-dot {
    opacity: 0;
    z-index: 2;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(128, 0, 225);
    transition: all 0.3s ease;
}

.left-panel-tab.selected-tab .selected-dot {
    opacity: 1;
    animation: dot-animation 0.5s cubic-bezier(0.5, 1, 0.3, 2);
    animation-delay: 0.05s;
}

@keyframes dot-animation {
    0% {
        transform: translateY(1rem);
    }
}