{% extends "base.html" %}

{% block static %}
<link rel="stylesheet" href="static/css/side_base.css"/>
{% endblock static %}

{% block side %}
<div class="side_inner_container">
    <div class="side_header_container">
        <a id="home_anchor" href="/home">
            <span class="logo_text">C</span>
            <span class="header_text">CMSystem</span>
        </a>
        <i class="side_anchor_icon fa-solid fa-bars" id="collapse_menu_btn"></i>
    </div>
    <div class="side_content_container">
        <div class="side_menu_group" id="side_content">
            <ul class="side_menu_list">
                <li class="side_li">
                    <a class="side_anchor" id="database_anchor" href="/database">
                        <i class="side_anchor_icon fa-solid fa-layer-group"></i>
                        <span class="side_anchor_text">Database</span>
                    </a>
                    <span class="tooltip" id="database_tooltip">Database</span>
                </li>
            </ul>
        </div>
        <div class="side_menu_group" id="side_plugin">
            <ul class="side_menu_list">
                <li class="side_li">
                    <a class="side_anchor" id="database_anchor" href="">
                        <i class="side_anchor_icon fa-solid fa-bars-progress"></i>
                        <span class="side_anchor_text">Manage Content</span>
                    </a>
                    <span class="tooltip" id="database_tooltip">Manage Content</span>
                </li>
                <li class="side_li">
                    <a class="side_anchor" id="media_anchor" href="">
                        <i class="side_anchor_icon fa-solid fa-photo-film"></i>
                        <span class="side_anchor_text">Media</span>
                    </a>
                    <span class="tooltip" id="media_tooltip">Media</span>
                </li>
            </ul>
        </div>
        <div class="side_menu_group" id="side_administration">
            <ul class="side_menu_list">
                <li class="side_li">
                    <a class="side_anchor" id="dashboard_anchor" href="">
                        <i class="side_anchor_icon fa-solid fa-chart-pie"></i>
                        <span class="side_anchor_text">Dashboard</span>
                    </a>
                    <span class="tooltip" id="dashboard_tooltip">Dashboard</span>
                </li>
                <li class="side_li">
                    <a class="side_anchor" id="management_anchor" href="">
                        <i class="side_anchor_icon fa-solid fa-building-user"></i>
                        <span class="side_anchor_text">Administration</span>
                    </a>
                    <span class="tooltip" id="management_tooltip">Administration</span>
                </li>
            </ul>
        </div>
        <div class="side_menu_group" id="side_logout">
            <ul class="side_menu_list">
                <li class="side_li">
                    <form class="logout_form" action="{{ url_for('logout_bp.logout') }}" method="POST">
                        <input id="single_csrf_logout" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <a class="side_anchor" id="logout_anchor" onclick="this.parentNode.submit();">
                            <i class="side_anchor_icon fa-solid fa-right-from-bracket"></i>
                            <span class="side_anchor_text">Log Out</span>
                        </a>
                    </form>
                    <span class="tooltip" id="logout_tooltip">Log Out</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock side %}

{% block script %}
<script src="static/js/side.js"></script>
{% endblock script %}