{% extends "side_base.html" %}

{% block static %}
{{ super() }}
<link rel="stylesheet" href="static/css/side_panel.css"/>
{% endblock static %}

{% block side %}
{{ super() }}
{% endblock side %}

{% block content %}
<div class="panel_container" id="left_panel_container">
    <div class="panel_header" id="left_panel_header">
    </div>
    <div class="panel_content" id="left_panel_content">
        {% block left_panel %}{% endblock left_panel %}
    </div>
</div>
<div class="panel_container" id="right_panel_container">
    <div class="panel_header" id="right_panel_header">
    </div>
    <div class="panel_content" id="right_panel_content">
        {% block right_panel %}{% endblock right_panel %}
    </div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script src="/static/js/side_panel.js"></script>
{% endblock script %}