{% extends 'base.html' %}

{% block static %}
<link rel='stylesheet' href='static/css/side_base.css'/>
<link rel='stylesheet' href='static/css/scroll_bar.css'/>
{% endblock static %}

{% block side %}
<div class='side_inner_container'>
    <div class='side_header_container'>
        <a id='home_anchor' href='/home'>
            <span class='logo_text'>C</span>
            <span class='header_text'>CMSystem</span>
        </a>
        <i class='side_anchor_icon fa-solid fa-bars' id='collapse_menu_btn'></i>
    </div>
    <div class='side_content_container'>
        <div class='side_menu_group' id='side_content'>
            <ul class='side_menu_list'>
                <li class='side_li'>
                    <a class='side_anchor' id='database_anchor' href='/database'>
                        <i class='side_anchor_icon fa-solid fa-layer-group'></i>
                        <span class='side_anchor_text'>Database</span>
                    </a>
                    <span class='tooltip' id='database_tooltip'>Database</span>
                </li>
            </ul>
        </div>
        <div class='side_menu_group' id='side_plugin'>
            <ul class='side_menu_list'>
                <li class='side_li'>
                    <a class='side_anchor' id='content_manager_anchor' href='/content_manager'>
                        <i class='side_anchor_icon fa-solid fa-bars-progress'></i>
                        <span class='side_anchor_text'>Content Manager</span>
                    </a>
                    <span class='tooltip' id='content_manager_tooltip'>Content Manager</span>
                </li>
                <li class='side_li'>
                    <a class='side_anchor' id='media_anchor' href=''>
                        <i class='side_anchor_icon fa-solid fa-photo-film'></i>
                        <span class='side_anchor_text'>Media</span>
                    </a>
                    <span class='tooltip' id='media_tooltip'>Media</span>
                </li>
            </ul>
        </div>
        <div class='side_menu_group' id='side_administration'>
            <ul class='side_menu_list'>
                <li class='side_li'>
                    <a class='side_anchor' id='dashboard_anchor' href=''>
                        <i class='side_anchor_icon fa-solid fa-chart-pie'></i>
                        <span class='side_anchor_text'>Dashboard</span>
                    </a>
                    <span class='tooltip' id='dashboard_tooltip'>Dashboard</span>
                </li>
            </ul>
        </div>
        <div class='side_menu_group' id='side_logout'>
            <ul class='side_menu_list'>
                <li class='side_li'>
                    <form class='logout_form' action="{{ url_for('logout_bp.logout') }}" method='POST'>
                        <input id='single_csrf_logout' type='hidden' name='csrf_token' value='{{ csrf_token() }}'>
                        <a role="button" class='side_anchor dropdown_button' id='logout_anchor'>
                            <i class="side_anchor_icon fa-solid fa-user"></i>
                            <span class='side_anchor_text'></span>
                        </a>
                    </form>
                    <span class='tooltip' id='logout_tooltip'>Profile</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock side %}

{% block content %}
<div class='dropdown_content'>
    <a class='dropdown_content_anchor' id='profile_anchor' href=''>Profile</a>
    <a class='dropdown_content_anchor disabled' id='admin_page_anchor' href='/database'>Administration</a>
    <form class='dropdown_form' action="{{ url_for('logout_bp.logout') }}" method='POST'>
        <input id='single_csrf_logout' type='hidden' name='csrf_token' value='{{ csrf_token() }}'>
        <a class='dropdown_content_anchor' onclick='this.parentNode.submit();'>Log Out</a>
    </form>
</div>
{% endblock content %}

{% block script %}
<script src='static/js/side.js'></script>
{% endblock script %}