@keyframes opacity-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes show-from-top-or-bottom {
    from {
        opacity: var(--isVisible);
        transform: translateY(var(--vertical));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-from-left-or-right {
    from {
        opacity: var(--isVisible);
        transform: translateX(var(--horizontal));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce-from-top-or-bottom {
    from {
        transform: translateY(var(--vertical));
    }
    to {    
        transform: translateY(0rem);
    }
}

@keyframes bounce-from-left-or-right {
    from {
        transform: translateX(var(--horizontal));
    }
    to {
        transform: translateX(0rem);
    }
}

@keyframes rebounce-from-top-or-bottom {
    0% {
        transform: translateY(var(--vertical));
    }
    50% {
        transform: translateY(var(--vRebounce));
    }
}

@keyframes rebounce-from-left-or-right {
    0% {
        transform: translateX(var(--horizontal));
    }
    50% {
        transform: translateX(var(--hRebounce));
    }
}

@keyframes show-rotate-from-left-or-right {
    from {
        opacity: var(--isVisible);
        transform: translateX(var(--horizonRotate)) rotateY(var(--verticalRotate));
    }

    to {
        opacity: 1;
    }
}

/* -------------------------------------------------------------- */

@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}

@keyframes slide-shine {
    0% {
        transform: translateX(var(--startHorizontal)) skewX(var(--horizonRotate));
    }
    30%, 80% {
        transform: translateX(var(--endHorizontal)) skewX(var(--horizonRotate))
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}