.left-panel-content-inner-container{
    width: 100%;
    height: 70rem;
    max-height: 100%;
    overflow: auto;
}

.left-panel-content-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-list-item {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 3.5rem;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.left-panel-content-container.selected-panel#left-panel-content-type .content-list-item {
    --vertical: -1rem;
    --isVisible: 0;
    animation: show-from-top-or-bottom 0.5s ease;
}

.content-list-item:hover .content-list-index {
    animation: bounce-from-left-animation 0.5s ease;
}

.content-list-item.selected-row {
    background-color: rgba(222, 222, 222, 0.5);
}

.content-list-index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    color: blueviolet;
    width: 9%;
    height: 100%;
    font-size: 0.4rem;
}

.content-list-item.selected-row .content-list-index {
    padding-left: 3rem;
    --horizontal: -0.5rem;
    --hRebounce: 0.5rem;
    animation: rebounce-from-left-animation 0.5s ease;
}

.content-list-context {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    
}

.content-list-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: initial;
    font-size: 1.2rem;
    color: red;
    width: 10%;
    height: 100%;
    transition: transform 0.1s ease;
}

.content-list-delete:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.content-list-delete:active {
    transform: scale(1);
}

.content-selected-line {
    width: 1%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.content-list-item.selected-row .content-selected-line {
    background-color: blueviolet;
}

.content-create-content {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 3rem;
    user-select: none;
    cursor: pointer;
    margin-bottom: 1rem;
    color: blue;
}

.selected-panel .content-create-content {
    --vertical: -1rem;
    --isVisible: 1;
    animation: show-from-top-or-bottom 0.375s ease;
}

.content-create-content:hover #create-content-context {
    text-decoration: underline;
}

.content-create-content:active {
    transform: scale(0.97);
}

#create-content-icon {
    visibility: visible;
    font-size: 1.2rem;
    width: 9%;
}

#create-content-context {
    width: 91%;
}

.left-panel-content-pagination {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 1.5rem;
    align-items: center;
    height: 3rem;
    margin-bottom: 2rem;
}

.pagination-anchor {
    display: flex;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    transition: background-color 0.1s ease;
    cursor: pointer;
    text-decoration: none;
}

.pagination-anchor:hover {
    background-color: rgba(190, 190, 190, 0.5);
}

.pagination-anchor:active {
    background-color: gray;
}