<div class='center_body_form' id='content_manager_form'>
    <div class='center_content_header_container'></div>
    
    <div class='center_content_body_container'>
        <div class='inner_body_container'>

            <div class='inner_body_table_container'>
                <table class='cms_table' id='content_table'>
                </table>
            </div>

            <div class='inner_body_footer'>
                <div class='combined_icon'>
                    <i class='left_single_icon fa-solid fa-file'></i>
                    <i class='right_single_icon fa-solid fa-file-lines'></i>
                </div>

                <a class='footer_text_anchor' id='create_content_anchor' href=''>
                    <i class="fa-solid fa-circle-plus"></i>
                    <span class='footer_anchor_text' id='inner_body_empty_text'>Create a new content</span>
                </a>
            </div>
        </div>
    </div>
</div>