<form class='center_body_container' id='content_builder_container' action='/content-manager/databases' method="POST">
    <div class='center_content_header_container'>
        <div id='table_name_input'>
            <input class='content_header_text' id='content_name_text' type='text' name='content_name' placeholder='Untitled' autocomplete="off">
        </div>
        <div id='table_name_edit'>
            <i class="fa-solid fa-pen-to-square" id='header_edit_icon'></i>
        </div>
        <div id='table_submit'>
            <i class="fa-solid fa-check"></i>
            <input class='content_header_submit' id='content_save' type='submit' name='submit' value='Save'>
        </div>
    </div>
    
    <div class='center_content_body_container'>
        <div class='inner_body_container'>
            <input class='input_text_box' type='text' name='int_name' placeholder='int'>
            <input class='input_text_box' type='text' name='varchar_name' placeholder='character varying'>
            <input class='input_text_box' type='text' name='test_name' placeholder='text'>
            <input class='input_text_box' type='text' name='date_name' placeholder='date'>
            <input class='input_text_box' type='text' name='bool_name' placeholder='bool'>
            <input class='submit_input' type='submit' name='submit' value='content_submit'>
        </div>
    </div>
</form>