<div class='center_body_container' id='custom_field_container'>
    <div class='center_content_header_container'></div>

    <div class='center_content_body_container'>
        <div class='inner_body_container'>
            <div class='inner_body_footer'>
                <div class='combined_icon'>
                    <i class='left_single_icon fa-solid fa-file'></i>
                    <i class='right_single_icon fa-solid fa-file-lines'></i>
                </div>
                <a class='footer_text_anchor' id='create_field_anchor' href=''>
                    <i class="fa-solid fa-circle-plus"></i>
                    <span class='footer_anchor_text' id='inner_body_empty_text'>Create a new field</span>
                </a>
            </div>
        </div>
    </div>
</div>