{% extends 'side/side-design/side-tab-design.html' %}
{% import 'center/center-share.html' as center %}
{% import 'center/header/center-header-share.html' as center_header %}
{% import 'center-panel/center-panel-share.html' as center_panel %}
{% import 'pop-up/content-pop-up-share.html' as field_pop_up %}

{% block title %}Content Manager{% endblock%}

{% block static %}
    {{ super() }}
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left-panel/content-manager-menu.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left-panel/content-manager-left-panel-header.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left-panel/content-manager-left-panel-body.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-center-header.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-inner-body.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-center-column.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-combined-icon.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-table.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/pop-up/content-manager-pop-up.css') }}"/>
{% endblock static %}

{% block pop_up %}
    {% include 'pop-up/content-pop-up.html' %}
{% endblock pop_up %}

{% block left_panel_tab %}
    {% include 'left-panel/left-panel-tab.html' %}
{% endblock left_panel_tab %}

{% block left_panel_context %}
    {% include 'left-panel/left-panel-menu-context.html' %}
        
    {% include 'left-panel/left-panel-content-context.html' %}

    {% include 'left-panel/left-panel-info-context.html' %}

    {% include 'left-panel/left-panel-history-context.html' %}
{% endblock left_panel_context %}

{% block center_body_content %}
    {% include 'center-panel/center-panel-create-content.html' %}

    {% include 'center-panel/center-panel-create-field.html' %}

    {% include 'center-panel/center-panel-create-page.html' %}

    {% include 'center-panel/center-panel-content-builder.html' %}
{% endblock center_body_content %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-left-panel.js') }}"></script>
    <script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-center-header.js') }}"></script>
    <script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-center-body.js') }}"></script>
    <script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-pop-up.js') }}"></script>
    <script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-content-table.js') }}"></script>
    <script src="{{ url_for('content_manager_bp.static', filename='js/content-manager.js') }}"></script>
    <script>
        var state = JSON.parse('{{ state | tojson }}');
    </script>
{% endblock script %}