{% extends 'side_panel.html' %}

{% block title %}Content Manager{% endblock%}

{% block static %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left_panel/content_manager_menu.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left_panel/content_manager_left_panel_header.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left_panel/content_manager_left_panel_body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_center_header.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_inner_body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_center_body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_inner_footer.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_combined_icon.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center_body/content_manager_table.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/pop_up/content_manager_pop_up.css') }}"/>
{% endblock static %}

{% block pop_up %}
<div class='content_manager_pop_up' id='create_content_pop_up'>
    {% include 'pop_up/content_creator_pop_up.html' %}
</div>
{% endblock pop_up %}

{% block left_panel %}
<div id='content_manager_left_panel'>
    {% include 'left_panel/left_panel_tab.html' %}

    <div class='left_panel_context_container'>
        {% include 'left_panel/left_panel_menu_context.html' %}
    
        {% include 'left_panel/left_panel_content_context.html' %}
        
        {% include 'left_panel/left_panel_info_context.html' %}
        
        {% include 'left_panel/left_panel_history_context.html' %}
    </div>
</div>
{% endblock left_panel %}

{% block center_body_content %}
<div class='center_content_container selected_body' id='center_create_content'>
    {% include 'center_panel/center_panel_create_content.html' %}
</div>

<div class='center_content_container' id='center_custom_field'>
    {% include 'center_panel/center_panel_create_field.html' %}
</div>

<div class='center_content_container' id='center_create_page'>
    {% include 'center_panel/center_panel_create_page.html' %}
</div>

<div class='center_content_container' id='center_content_builder'>
    {% include 'center_panel/center_panel_content_builder.html' %}
</div>
{% endblock center_body_content %}

{% block script %}
{{ super() }}
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_left_panel.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_center_body.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_pop_up.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_content_table.js') }}"></script>
{% endblock script %}