<div class='center-body-container' id='content-manager-form'>
    <div class='center-content-header-container'>
        <div class='inner-header-bundle'>
            <a class='header-text-anchor' id='create-content-anchor' href=''>
                <i class='header-anchor-icon bx bxs-layer-plus'></i>
                <span class='header-anchor-text' id='inner-body-empty-text'>Create new content</span>
            </a>
        </div>
    </div>
    
    <div class='center-content-body-container'>
        <div class='inner-body-container'>

            <div class='inner-body-table-container'>
                <table class='cms-table' id='content-table'>
                </table>
            </div>
        </div>
    </div>
</div>