{% call(content) center.create_center_header('center-create-content', true) %}
    {% if content == 'header' %}  
        {{ center_header.create_center_header_icon
            (
                'create-content-anchor',
                'bx bxs-layer-plus',
                'Create new content',
                '',
            )
        }}
    {% endif %}

    {% if content == 'body' %}
        <div class='inner-body-container'>
            <div class='inner-body-table-container'>
                <table class='cms-table' id='content-table'>
                </table>
            </div>
        </div>
    {% endif %}
{% endcall %}
