<div class='center-body-container' id='content-manager-form'>
    <div class='center-content-header-container'>
        <div class='inner-header-body'>
            <a class='header-text-anchor' id='create-content-anchor' href=''>
                <i class="fa-solid fa-circle-plus"></i>
                <span class='header-anchor-text' id='inner-body-empty-text'>Create a new content</span>
            </a>
        </div>
    </div>
    
    <div class='center-content-body-container'>
        <div class='inner-body-container'>

            <div class='inner-body-table-container'>
                <table class='cms-table' id='content-table'>
                </table>
            </div>
        </div>
    </div>
</div>