<div class='center-body-container' id='custom-field-container'>
    <div class='center-content-header-container'></div>

    <div class='center-content-body-container'>
        <div class='inner-body-container'>
            <div class='inner-header-body'>
                <div class='combined-icon'>
                    <i class='left-single-icon fa-solid fa-file'></i>
                    <i class='right-single-icon fa-solid fa-file-lines'></i>
                </div>
                <a class='header-text-anchor' id='create-field-anchor' href=''>
                    <i class="fa-solid fa-circle-plus"></i>
                    <span class='header-anchor-text' id='inner-body-empty-text'>Create a new field</span>
                </a>
            </div>
        </div>
    </div>
</div>