{% extends 'base.html' %}

{% block title %}Login{% endblock%}

{% block static %}
<link rel='stylesheet' href="{{ url_for('account_bp.static', filename='css/login/login.css') }}"/>  
<link rel='stylesheet' href="{{ url_for('account_bp.static', filename='css/login/login-low-res.css') }}"/>  
{% endblock static %}

{% block content %}
<div class='main-container'>
  <div class='login-content-container'>
    {% include 'sub-template/login-container.html' %}
    
    {% include 'sub-template/welcome-container.html' %}
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('account_bp.static', filename='js/login/login.js') }}"></script>
{% endblock script %}