<form id='content-creator-form' action='' method='POST'>
    <input id='single-csrf-content-creator' type='hidden' name='csrf_token' value='{{ csrf_token() }}'>

    <div class='content-creator-form-body'>
        <fieldset class='content-creator-fieldset'>
            <legend class='content-legend'>Display Name</legend>
            <input class='content-creator-input' id='content-display-name' type='text' name='content_name' autocomplete='off' required>

            <div class='under-input-container'>
                <input id='match-cb' type='checkbox' name='match_cb'>
                <label for='match-cb'>Use the same input for route name</label>
            </div>
        </fieldset>
        
        <fieldset class='content-creator-fieldset'>
            <legend class='content-legend'>API Id</legend>
            <input class='content-creator-input' id='content-route-name' type='text' name='route_name' autocomplete='off' required>

            <div class='under-input-container'>
                <span class='under-input-text'>A unique name used for creating and calling the database. <br>(only lowercase and underscore are accepted)</span>
            </div>
        </fieldset>

        <fieldset class='content-creator-fieldset'>
            <legend class='content-legend'>Description</legend>
            <textarea class='content-creator-textarea' id='content-description' name='description' autocomplete='off' maxlength='500' required></textarea>

            <div class='under-input-container'>
                <span class='under-input-text'>(Max 500 words)</span>
            </div>
        </fieldset>
    </div>

    <div class='content-creator-form-footer'>
        <input class='submit-btn pop-up-submit-btn' id='content-creator-submit' type='submit' name='submit' value='Create Content'>
    </div>
</form>