<form id='content-creator-form' action='' method='POST'>
    <input id='single-csrf-content-creator' type='hidden' name='csrf_token' value='{{ csrf_token() }}'>

    <div class='content-creator-form-body'>
        <fieldset class='content-creator-fieldset'>
            <legend class='content-legend'>Display Name</legend>
            <input class='content-creator-input' id='content-display-name' type='text' name='table_name'>
        </fieldset>
        
        <fieldset class='content-creator-fieldset'>
            <legend class='content-legend'>Route Name</legend>
            <input class='content-creator-input' id='content-route-name' type='text' name='route_name'>
        </fieldset>
    </div>

    <div class='content-creator-form-footer'>
        <input class='submit-btn' id='content-creator-submit' type='submit' name='submit' value='Create Content'>
    </div>
</form>