<form id='content-creator-form' action='' method='POST'>
    <div class='content-creator-form-body'>
        {{ input.create_pop_up_cb_text
            (
                'content-display-name',
                'Display Name',
                'content_name',
                'match-cb',
                'match_cb',
                'Use the same input for route name',
            )
        }}
        
        {{ input.create_pop_up_text
            (
                'content-route-name',
                'API Id',
                'route_name',
                'A unique name used for creating and calling the database. (only lowercase and underscore are accepted)',
            )
        }}
        
        {{ input.create_pop_up_textarea
            (
                'content-description',
                'Description',
                'description',
                '500',
                '(Max 500 words)'
            )
        }}
    </div>
</form>