<div id='field-creator-inner-body'>
    {{ field_pop_up.create_field_type('text-field-container', 'bx bx-text', 'Text field', 'Titles, names, descriptions, paragraphs') }}
    {{ field_pop_up.create_field_type('number-field-container', 'bx bx-list-ol', 'Number field', 'Unique ID, number, decimal') }}
    {{ field_pop_up.create_field_type('date-field-container', 'bx bxs-calendar', 'Date and time field', 'Date, hours, minutes, seconds') }}
    {{ field_pop_up.create_field_type('boolean-field-container','bx bx-toggle-left', 'Boolean field', 'Yes and no, True and false') }}
    {{ field_pop_up.create_field_type('json-field-container','bx bxs-file-json', 'JSON field', 'Arbitrary JSON format data') }}
    {{ field_pop_up.create_field_type('media-field-container','bx bx-images', 'Media field', 'Images, videos, pdf and documents') }}
    {{ field_pop_up.create_field_type('relation-field-container','bx bx-link', 'Relation field', 'Reference to the other content') }}
</div>