.content-manager-pop-up{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
    height: fit-content;
    background-color: white;
}

.content-manager-pop-up.show{
    display: flex;
}

.pop-up-body{
    width: inherit;
    height: fit-content;
    word-wrap: break-word;
    padding-top: 1rem;
}

#content-creator-form{
    display: flex;
    flex-direction: column;
}

.content-creator-form-body{
    display: flex;
    flex-direction: row;
}

.content-creator-form-footer{
    width: inherit;
    margin-top: 5rem;
}

#full-description-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: gray;
}