{% extends "side_panel.html" %}

{% block title %}Content Manager{% endblock%}

{% block static %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('content_manager_bp.static', filename='css/content_manager.css') }}"/>
{% endblock static %}

{% block left_panel %}
<button class="test_button">Fetch data</button>
<ul class="data_list">
</ul>
{% endblock left_panel %}

{% block center_content %}
<form id="test_form">
    <input class="table_name" type="text" name="table_name">
    <input class="submit_input" type="submit" name="submit">
</form>
{% endblock center_content %}

{% block script %}
{{ super() }}
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager.js') }}"></script>
{% endblock script %}