{% extends "side_panel.html" %}

{% block title %}Content Manager{% endblock%}

{% block static %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('content_manager_bp.static', filename='css/content_manager.css') }}"/>
{% endblock static %}

{% block left_panel %}
<div id="content_manager_left_panel">
    <div class="left_panel_tab_container">
        <button class="left_panel_tab selected_tab" id="menu_tab">
            <span class="tab_text">Menu</span>
        </button>
        <button class="left_panel_tab" id="information_tab">
            <i class='tab_text bx bx-info-circle' ></i>
        </button>
    </div>
    <div class="left_panel_content_container selected_panel" id="left_panel_menu">
        <div class="left_panel_menu_row">
            <div class="left_panel_inner_row">
                <div class="left_panel_icon_background">
                    <i class='bx bxs-layer-plus'></i>
                </div>
                <div class="left_panel_row_text">
                    <span class="row_text_title">Testing</span>
                    <span class="row_text_description">Testing Description</span>
                </div>
            </div>
        </div>
    </div>
    <div class="left_panel_content_container" id="left_panel_info">
        <span>TEST</span>
    </div>
</div>
{% endblock left_panel %}

{% block center_content %}

{% endblock center_content %}

{% block script %}
{{ super() }}
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager.js') }}"></script>
{% endblock script %}