{% extends 'side_panel.html' %}

{% block title %}Content Manager{% endblock%}

{% block static %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/content_manager_left_panel.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/content_manager_center_header.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/content_manager_inner_body.css') }}"/>
{% endblock static %}

{% block left_panel %}
<div id='content_manager_left_panel'>

    <div class='left_panel_tab_container'>

        <button class='left_panel_tab selected_tab' id='menu_tab'>
            <i class='tab_icon bx bxs-food-menu' id='menu_icon'></i>
            <span class='tab_text'>Menu</span>
            <div class='selected_dot'></div>
        </button>

        <button class='left_panel_tab' id='information_tab'>
            <i class='tab_icon bx bxs-info-circle' id='info_icon'></i>
            <span class='tab_text'>Info</span>
            <div class='selected_dot'></div>
        </button>
        
        <button class='left_panel_tab' id='history_tab'>
            <i class='tab_icon bx bx-history' id='history_icon'></i>
            <span class='tab_text'>History</span>
            <div class='selected_dot'></div>
        </button>
    </div>

    <div class='left_panel_content_container selected_panel' id='left_panel_menu'>
        <div class='left_panel_menu_row selected_row' id='row_create_content'>
            <div class='left_panel_inner_row'>
                <div class='left_panel_icon_background' id='icon_background_content'> 
                    <i class='left_panel_icon bx bxs-layer-plus' id='icon_content'></i>
                </div>
                <div class='left_panel_row_text'>
                    <span class='row_text_title'>Create Content</span>
                    <span class='row_text_description'>Create a new content with different configuration.</span>
                </div>
            </div>
        </div>
        
        <div class='left_panel_menu_row' id='row_custom_field'>
            <div class='left_panel_inner_row'>
                <div class='left_panel_icon_background' id='icon_background_field'> 
                    <i class='left_panel_icon bx bxs-add-to-queue' id='icon_field'></i>
                </div>
                <div class='left_panel_row_text'>
                    <span class='row_text_title'>Create custom field</span>
                    <span class='row_text_description'>Create a custom field shortcut.</span>
                </div>
            </div>
        </div>

        <div class='left_panel_menu_row' id='row_create_page'>
            <div class='left_panel_inner_row'>
                <div class='left_panel_icon_background' id='icon_background_page'> 
                    <i class='left_panel_icon bx bxs-book-add' id='icon_page'></i>
                </div>
                <div class='left_panel_row_text'>
                    <span class='row_text_title'>Create custom page</span>
                    <span class='row_text_description'>Create custom page with different components.</span>
                </div>
            </div>
        </div>
    </div>

    <div class='left_panel_content_container' id='left_panel_info'>
        <span>TEST INFO</span>
    </div>
    
    <div class='left_panel_content_container' id='left_panel_history'>
        <span>TEST HISTORY</span>
    </div>

</div>
{% endblock left_panel %}

{% block center_body_content %}
<div class='center_content_container selected_content' id='center_create_content'>
    <form id='content_manager_form' action='/content_manager/databases' method="POST">
        <div class='center_content_header_container'>
            <div id='table_name_input'>
                <input class='content_header_text' id='content_name_text' type='text' name='content_name' placeholder='#ContentName' autocomplete="off">
            </div>
            <div id='table_name_edit'>
                <i class="fa-solid fa-pen"></i>
            </div>
            <input class='content_header_submit' id='content_save' type='submit' name='submit' value='table_submit'> 
        </div>
        <div class='center_content_body_container'>
            <div class='inner_body_container'>

            </div>
        </div>
    </form>
</div>

<div class='center_content_container' id='center_custom_field'>
    <form id='test_table_content_form'>
        <input class='input_text_box' type='text' name='int_name' placeholder='int'>
        <input class='input_text_box' type='text' name='varchar_name' placeholder='character varying'>
        <input class='input_text_box' type='text' name='test_name' placeholder='text'>
        <input class='input_text_box' type='text' name='date_name' placeholder='date'>
        <input class='input_text_box' type='text' name='bool_name' placeholder='bool'>
        <input class='submit_input' type='submit' name='submit' value='content_submit'>
    </form>
</div>

<div class='center_content_container' id='center_create_page'>
    <span>Create custom page</span>
</div>
{% endblock center_body_content %}

{% block script %}
{{ super() }}
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_interact.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_start.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content_manager_async.js') }}"></script>
{% endblock script %}