{% extends 'side/side-panel.html' %}

{% block static %}
    {{ super() }}
    <link rel='stylesheet' href='/static/css/side/side-inner.css'/>
{% endblock static %}

{% block left_panel %}
    <div class='left-panel-inner-container'>
        <div class='left-panel-tab-container'>
            {% block left_panel_tab %}{% endblock left_panel_tab %}
        </div>

        <div class='left-panel-context-container'>
            {% block left_panel_context %}{% endblock left_panel_context %}
        </div>
    </div>
{% endblock left_panel %}
