{% extends 'side/side-panel.html' %}
{% import 'input/input-share.html' as input %}
{% import 'side/side-share.html' as side %}

{% block static %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left-panel/content-manager-menu.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left-panel/content-manager-left-panel-header.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/left-panel/content-manager-left-panel-body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-center-header.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-inner-body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-center-body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-body.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-combined-icon.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/center-body/content-manager-table.css') }}"/>
<link rel='stylesheet' href="{{ url_for('content_manager_bp.static', filename='css/pop-up/content-manager-pop-up.css') }}"/>
{% endblock static %}

{% block left_panel %}
<div id='content-manager-left-panel'>
    <div class='left-panel-tab-container'>
        {% block left_panel_tab %}{% endblock left_panel_tab %}
    </div>

    <div class='left-panel-context-container'>
    </div>
</div>
{% endblock left_panel %}

{% block center_body_content %}
<div class='center-content-container selected-body' id='center-create-content'>
    {% include 'center-panel/center-panel-create-content.html' %}
</div>

<div class='center-content-container' id='center-custom-field'>
    {% include 'center-panel/center-panel-create-field.html' %}
</div>

<div class='center-content-container' id='center-create-page'>
    {% include 'center-panel/center-panel-create-page.html' %}
</div>

<div class='center-content-container' id='center-content-builder'>
    {% include 'center-panel/center-panel-content-builder.html' %}
</div>
{% endblock center_body_content %}

{% block script %}
{{ super() }}
<script src="{{ url_for('content_manager_bp.static', filename='js/content-manager.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-left-panel.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-center-header.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-center-body.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-pop-up.js') }}"></script>
<script src="{{ url_for('content_manager_bp.static', filename='js/content-manager-content-table.js') }}"></script>
{% endblock script %}