<div class='left_panel_tab_container'>
    <button class='left_panel_tab selected_tab' id='menu_tab'>
        <i class='tab_icon bx bxs-food-menu' id='menu_icon'></i>
        <span class='tab_text'>Menu</span>
        <div class='selected_dot'></div>
    </button>

    <button class='left_panel_tab' id='content_tab'>
        <i class='tab_icon fa-solid fa-list-ul' id='content_icon'></i>
        <span class='tab_text'>Content</span>
        <div class='selected_dot'></div>
    </button>

    <button class='left_panel_tab' id='information_tab'>
        <i class='tab_icon bx bxs-info-circle' id='info_icon'></i>
        <span class='tab_text'>Info</span>
        <div class='selected_dot'></div>
    </button>
    
    <button class='left_panel_tab' id='history_tab'>
        <i class='tab_icon bx bx-history' id='history_icon'></i>
        <span class='tab_text'>History</span>
        <div class='selected_dot'></div>
    </button>
</div>