<div class='left_panel_content_container' id='left_panel_content_type'>
    <div class='left_panel_content_inner_container'>
        <ul class='left_panel_content_list'></ul>
    </div>
    
    <div class='content_create_content'>
        <div class='content_list_index' id='create_content_icon'>
            <i class='content_list_index_icon fa-solid fa-plus'></i>
        </div>

        <div class='content_list_context' id='create_content_context'>
            <span class='content_list_context_text'>Create new content</span>
        </div>
    </div>
</div>