<div class='left_panel_content_container' id='left_panel_content_type'>
    <div class='left_panel_content_inner_container'>
        <ul class='left_panel_content_list'>
            <li>
                <div class='content_list_index'>
                    <span class='content_list_index_text'>1</span>
                </div>
                <div class='content_list_context'>
                    <span class='content_list_context-text'>Table name 1</span>
                </div>
                <div class='content_list_more'>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </li>
        </ul>
    </div>
</div>