.center_content_container{
    display: none;
    height: inherit;
}

.center_content_container.selected_body{
    display: block;
}

.center_body_form{
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
}