.center_content_body_container{
    height: inherit;
    display: flex;
    width: 100%;
    justify-content: center;
}

.selected_body .center_content_body_container{
    --vertical: -2rem;
    --is_visible: 1;
    animation: show-from-top-or-bottom 0.5s ease;
}