.custom-textbox {
    width: 100%;
    padding: 0.5rem 0;
    outline: none;
    text-align: left;
    border: none;
    font-size: 1.3rem;
}

.custom-textbox::placeholder {
    user-select: none;
}

fieldset.custom-fieldset-1 {
    display: flex;
    align-items: flex-end;
    height: 5rem;   
    width: 100%;
    padding: 0;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #ADD8E6;
    transition-duration: 0.4s;
}

fieldset.custom-fieldset-1:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #1E90FF;
}

.submit-btn {
    height: 4rem;
    margin: 4rem 0 1rem 0;
    background-color: #c3abfc;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    transition-duration: 0.2s;
}

.submit-btn:hover {
    background-color: #adb0e6;
    cursor: pointer;
}

.submit-btn:active {
    background-color: rgb(228, 228, 255);
}

.custom-fieldset-2 {
    display: flex;
    flex-direction: column;
    border-style: none;
    margin-left: 1.5rem;
    width: fit-content;
}

.custom-legend {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: black;
    user-select: none;
}

.custom-textarea {
    width: 65rem;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 1px solid rgb(190, 190, 190);
    resize: none;
    text-decoration: none !important;
}

.under-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    width: 30rem;
}

.under-input-text {
    width: inherit;
    font-size: 1.1rem;
    color: gray;
    line-height: 1.5rem;
}

.custom-text-input {
    width: 30rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.custom-text-input:focus {
    outline: none;
}

.switch-container {
    width: 25rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 3.5rem;
    background-color: rgb(204 188 255);
    border: 0.3rem solid rgb(204 188 255);
    border-radius: 0.2rem;
    transition: background-color 0.4s ease;
}

.switch::after {
    content: 'YES';
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.1rem;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}

.switch-button-checkbox {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch-button-label {
    display: flex;
    height: 100%;
    width: 50%;
}

.switch-button-label::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 0.2rem;
    background-color: white;
    transition: transform 0.4s ease;
}

.switch-button-label-span {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 100%;
    height: inherit;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    color: rgb(113, 70, 255);
    user-select: none;
}

.switch.switch-checked .switch-button-label::before {
    transform: translateX(6rem);
}

.switch.switch-checked::after {
    color: rgb(113, 70, 255);
}

.switch.switch-checked .switch-button-label-span {
    color: white;
}