.custom-textbox {
    width: 100%;
    padding: 0.5rem 0;
    outline: none;
    text-align: left;
    border: none;
    font-size: 1.3rem;
}

.custom-textbox::placeholder {
    user-select: none;
}

fieldset.custom-fieldset-1 {
    display: flex;
    align-items: flex-end;
    height: 5rem;   
    width: 100%;
    padding: 0;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #ADD8E6;
    transition-duration: 0.4s;
}

fieldset.custom-fieldset-1:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #1E90FF;
}

.submit-btn {
    height: 4rem;
    margin: 4rem 0 1rem 0;
    background-color: #c3abfc;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    transition-duration: 0.2s;
}

.submit-btn:hover {
    background-color: #adb0e6;
    cursor: pointer;
}

.submit-btn:active {
    background-color: rgb(228, 228, 255);
}

.custom-fieldset-2 {
    display: flex;
    flex-direction: column;
    border-style: none;
    user-select: none;
    margin-left: 1.5rem;
    width: fit-content;
}

.custom-legend {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: black;
}

.custom-textarea {
    width: 65rem;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 1px solid rgb(190, 190, 190);
    resize: none;
    text-decoration: none !important;
}

.under-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    width: 30rem;
}

.under-input-text {
    width: inherit;
    font-size: 1.1rem;
    color: gray;
    line-height: 1.5rem;
}

.custom-text-input {
    width: 30rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.custom-text-input:focus {
    outline: none;
}