.home_main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background: linear-gradient(-45deg, #ffffff 50%, #322e61 50%);
    overflow: hidden;
}

.main_gradient{
    z-index: 1;
    position: fixed;
    width: 130%;
    height: 83%;
    background-color: #322e61;
    transform: translateX(-20%) translateY(-20%) rotate(135deg);
}

.main_mask{
    z-index: 1;
    position: fixed;
    width: 150%;
    height: 83%;	
    opacity: 0.2;
    background: linear-gradient(#ffffff, #11101d);
    transform: translateX(-1%) translateY(-20%) rotate(135deg);
}

.home_container{
    z-index: 2;
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.welcome_container{
    top: 320px;
    right: 50px;
}

.description_container{
    top: 450px;
    right: 60px;
    text-align: center;
}

.start_container{
    bottom: 150px;
    right: 100px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 25px;
}

.welcome_header{
    font-size: 60px;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    color: black;
    user-select: none;
}

.description_text{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    user-select: none;
}

.start_anchor{
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.start_text{
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
}

.start_line{
    position: absolute;
    width: 0;
    height: 0;
    top: 15px;
    right: 120px;
    border-bottom: 1px solid black;
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.start_anchor:hover .start_line{
    width: 550px;
}