*{
    font-family: 'Poppins', sans-serif;
}

.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background: linear-gradient(-45deg, #ffffff 50%, #322e61 50%);
    overflow: hidden;
}

.main_gradient{
    z-index: 1;
    position: fixed;
    width: 130%;
    height: 83%;
    background-color: #322e61;
    transform: translateX(-20%) translateY(-20%) rotate(135deg);
}

.main_mask{
    z-index: 1;
    position: fixed;
    width: 150%;
    height: 83%;	
    opacity: 0.2;
    background: linear-gradient(#ffffff, #11101d);
    transform: translateX(-1%) translateY(-20%) rotate(135deg);
}

.content_container{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 580px;
    width: 780px;
    margin: 0 auto;
    box-shadow: 0 0 1px 1px lightgrey;
    border-radius: 10px;
}

.welcome_container{
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	background: linear-gradient(-45deg, #cbf6f6, #c1cdfe, #e8c6ff, #aaffeb);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login_container{
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inner_login_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.welcome_logo{
    margin-top: 110px;
    font-size: 200px;
    color: white;
    font-family: "Beau Rivage";
    pointer-events: none;
}

.welcome_text{
    pointer-events: none;
    font-weight: 600;
    user-select: none;
}

#welcome{
    letter-spacing: 10px;
    font-size: 40px;
    color: white;
}

#introduction_text{
    margin-top: 10px;
    font-size: 10px;
    color: white;
}

#login_text{
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #322e61;
}

.login_form{
    width: 60%;
}

.form_textbox{
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
    text-align: left;
    border: none;
    font-size: medium;
}

.form_textbox::placeholder{
    letter-spacing: 2px;
    font-size: 13px;
}

fieldset.login_fieldset{
    height: 50px;   
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #ADD8E6;
    transition-duration: 0.4s;
}

fieldset.login_fieldset:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #1E90FF;
}

.submit_btn{
    height: 40px;
    width: 100%;
    margin-top: 40px;
    background-color: #d2c0fb;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.submit_btn:hover{
    background-color: #adb0e6;
    cursor: pointer;
}

.submit_btn:active{
    background-color: rgb(228, 228, 255);
}

.modal_box{
    display: inline-flex;
    align-items: center;
    z-index: 99;
    position: fixed;
    text-align: left;
    top: 40px;
    width: 700px;
    height: 35px;
    border-radius: 5px;
    opacity: 0;
    background-color: rgb(228, 228, 255);
    transition: all 0.2s ease;
}

.modal_text{
    width: calc(100% - 60px);
    color: black;
    margin-left: 5px;
    font-size: 13px;
}

.show_modal{
    opacity: 1;
}

.mark_div{
    width: 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    margin-right: 5px;
    border-radius: 5px;
}

.mark_div:hover{
    background-color: lightgray;
}

.mark_div:active{
    background-color: #191970;
}

.close_modal{
    color: black;
    padding: 5px;
    font-size: 20px;
}

.caution_div{
    width: 30px;
    text-align: center;
    margin-left: 5px;
}

.caution_model{
    color: gray;
    padding: 5px;
    font-size: 20px;
}