@media only screen and (max-width: 800px){
    .login_content_container{
        flex-direction: column;
    }

    .welcome_container, .login_container{
        width: 100%;
        height: 100%;
        -webkit-box-reflect: unset;
        border-radius: 0;
    }
}
