*{
    font-family: 'Poppins', sans-serif;
}

.main_container{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background: linear-gradient(0deg,#ffffff 40%, #e6e4ff 40%);
    overflow: auto;
}

.login_content_container{
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 180px;
    height: 580px;
    width: 780px;
    margin: 0 auto;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease;
}

.login_content_container.start{
    opacity: 1;
}

.welcome_container{
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	background: linear-gradient(-45deg, #cbf6f6, #c1cdfe, #e8c6ff, #aaffeb);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    -webkit-box-reflect: below 3px linear-gradient(transparent 50%, rgba(0, 0, 0, .5));
    transform: translateY(-150px);
    transition: all 1s ease;
}

.welcome_container.start{
    transform: translateY(0);
    box-shadow: 0 0 5px 1px rgba(211, 211, 211, 0.5);
}

.login_container{
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-reflect: below 3px linear-gradient(transparent 50%, rgba(0, 0, 0, .5));
    transform: translateY(150px);
    transition: all 1s ease;
}

.login_container.start{
    transform: translateY(0);
    box-shadow: 0 0 5px 1px rgba(211, 211, 211, 0.5);
}

.inner_login_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.welcome_logo{
    margin-top: 110px;
    font-size: 200px;
    color: white;
    font-family: 'Beau Rivage';
    pointer-events: none;
    user-select: none;
}

.welcome_text{
    pointer-events: none;
    font-weight: 600;
    user-select: none;
}

#welcome{
    letter-spacing: 10px;
    font-size: 40px;
    color: white;
}

#introduction_text{
    margin-top: 10px;
    font-size: 10px;
    color: white;
}

#login_text{
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #322e61;
}

.login_form{
    width: 60%;
}

.form_textbox{
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
    text-align: left;
    border: none;
    font-size: medium;
}

.form_textbox::placeholder{
    letter-spacing: 2px;
    font-size: 13px;
}

fieldset.login_fieldset{
    height: 50px;   
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #ADD8E6;
    transition-duration: 0.4s;
}

fieldset.login_fieldset:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #1E90FF;
}

.submit_btn{
    height: 40px;
    width: 100%;
    margin-top: 40px;
    background-color: #d2c0fb;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.submit_btn:hover{
    background-color: #adb0e6;
    cursor: pointer;
}
.submit_btn:active{
    background-color: rgb(228, 228, 255);
}