.main_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background: linear-gradient(0deg,#ffffff 40%, #e6e4ff 40%);
    overflow: auto;
}

.login_content_container{
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 58rem;
    width: 78rem;
    margin: 0 auto;
    opacity: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem 0.1rem rgba(211, 211, 211, 0.5);
    transition: all 0.5s ease;
}

.login_content_container.start{
    opacity: 1;
}

.welcome_container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
	background: linear-gradient(-45deg, #cbf6f6, #c1cdfe, #e8c6ff, #aaffeb);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    -webkit-box-reflect: below 0.3rem linear-gradient(transparent 50%, rgba(0, 0, 0, .5));
}

.login_container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    -webkit-box-reflect: below 0.3rem linear-gradient(transparent 50%, rgba(0, 0, 0, .5));
}

.inner_login_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.welcome_logo{
    margin-top: 12rem;
    font-size: 20rem;
    color: white;
    font-family: 'Beau Rivage';
    pointer-events: none;
    user-select: none;
}

.welcome_text{
    pointer-events: none;
    font-weight: 600;
    user-select: none;
}

#welcome{
    letter-spacing: 1rem;
    font-size: 4rem;
    color: white;
}

#introduction_text{
    margin: 1rem 0 5rem 0;
    font-size: 1.3rem;
    color: white;
}

#login_text{
    letter-spacing: 0.5rem;
    margin: 2rem 0 5rem 0;
    font-size: 3rem;
    color: #322e61;
}

.login_form{
    width: 60%;
}

.form_textbox{
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
    text-align: left;
    border: none;
    font-size: medium;
}

.form_textbox::placeholder{
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
}

fieldset.login_fieldset{
    height: 5rem;   
    width: 100%;
    padding: 0;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #ADD8E6;
    transition-duration: 0.4s;
}

fieldset.login_fieldset:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #1E90FF;
}

.submit_btn{
    height: 4rem;
    width: 100%;
    margin: 4rem 0 1rem 0;
    background-color: #d2c0fb;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    transition-duration: 0.4s;
}

.submit_btn:hover{
    background-color: #adb0e6;
    cursor: pointer;
}
.submit_btn:active{
    background-color: rgb(228, 228, 255);
}