{% macro create_submit_input(form_id, submit_id, submit_value, submit_class='') -%}
    <input form='{{ form_id }}' class='submit-btn {{ submit_class }}' id='{{ submit_id }}' type='submit' name='submit', value='{{ submit_value }}'>
{%- endmacro %}

{% macro create_text_input_bottom_border(text_id, input_type, text_name, text_placeholder) -%}
    <fieldset class='custom-fieldset-1'>
        <input class='custom-textbox' id='{{ text_id }}' type='{{ input_type }}' name='{{ text_name }}' placeholder='{{ text_placeholder }}' required>
    </fieldset>
{%- endmacro %}

{% macro create_text(textfield_id, input_id, input_legend, input_name, input_text) -%}
    <fieldset class='custom-fieldset-2' id='{{ textfield_id }}'>
        <legend class='custom-legend'>{{ input_legend }}</legend>
        <input class='custom-text-input' id='{{ input_id }}' type='text' name='{{ input_name }}' autocomplete='off' required>

        <div class='under-input-container'>
            <span class='under-input-text'>{{ input_text }}</span>
        </div>
    </fieldset>
{%- endmacro %}

{% macro create_textarea(textarea_id, input_id, input_legend, input_name, max_length, input_text) -%}
    <fieldset class='custom-fieldset-2' id='{{ textarea_id }}'>
        <legend class='custom-legend'>{{ input_legend }}</legend>
        <textarea class='custom-textarea' id='{{ input_id }}' name='{{ input_name }}' autocomplete='off' maxlength='{{ max_length }}' required></textarea>

        <div class='under-input-container'>
            <span class='under-input-text'>{{ input_text }}</span>
        </div>
    </fieldset>
{%- endmacro %}

{% macro create_cb_text(cb_text_id, input_id, input_legend, input_name, cb_id, cb_name, cb_text, text_disabled=false) -%}
    {% if text_disabled %}
        {% set text_disabled = 'disabled' %}
    {% else %}
        {% set text_disabled = '' %}
    {% endif %}

    <fieldset class='custom-fieldset-2' id='{{ cb_text_id }}'>
        <legend class='custom-legend'>{{ input_legend }}</legend>
        <input class='custom-text-input' id='{{ input_id }}' type='text' name='{{ input_name }}' autocomplete='off' {{ text_disabled }} required>

        <div class='under-input-container'>
            <input class='match-cb-input' id='{{ cb_id }}' type='checkbox' name='{{ cb_name }}'>
            <label class='match-cb-label' for='{{ cb_id }}'>{{ cb_text }}</label>
        </div>
    </fieldset>
{%- endmacro %}

{% macro create_yesno_switch(switch_id, input_id, switch_title, switch_name, switch_description) -%}
    <div class='switch-container' id='{{ switch_id }}'>
        <span class='custom-legend'>{{ switch_title }}</span>
        <label class='switch'>
            <input class='switch-button-checkbox' id='{{ input_id }}' name= '{{ switch_name }}' type='checkbox'>
            <label class='switch-button-label' for='{{ input_id }}'><span class='switch-button-label-span'>NO</span></label>
        </label>
        <span class='switch-description'>{{ switch_description }}</span>
    </div>
{%- endmacro %}