<div class='left-panel-tab-container'>
    <button class='left-panel-tab selected-tab' id='menu-tab'>
        <i class='tab-icon bx bxs-food-menu' id='menu-icon'></i>
        <span class='tab-text'>Menu</span>
        <div class='selected-dot'></div>
    </button>

    <button class='left-panel-tab' id='content-tab'>
        <i class='tab-icon fa-solid fa-list-ul' id='content-icon'></i>
        <span class='tab-text'>Content</span>
        <div class='selected-dot'></div>
    </button>

    <button class='left-panel-tab' id='information-tab'>
        <i class='tab-icon bx bxs-info-circle' id='info-icon'></i>
        <span class='tab-text'>Info</span>
        <div class='selected-dot'></div>
    </button>
    
    <button class='left-panel-tab' id='history-tab'>
        <i class='tab-icon bx bx-history' id='history-icon'></i>
        <span class='tab-text'>History</span>
        <div class='selected-dot'></div>
    </button>
</div>