<div class='left-panel-content-container selected-panel' id='left-panel-menu'>
    <div class='left-panel-menu-row selected-row' id='row-create-content' style='--t:1'>
        <div class='left-panel-inner-row'>
            <div class='left-panel-icon-background' id='icon-background-content'> 
                <i class='left-panel-icon bx bxs-layer-plus' id='icon-content'></i>
            </div>
            <div class='left-panel-row-text'>
                <span class='row-text-title'>Create Content</span>
                <span class='row-text-description'>Create a new content with different configuration.</span>
            </div>
            <div class='current-bar'></div>
        </div>
    </div>
    
    <div class='left-panel-menu-row' id='row-custom-field' style='--t:2'>
        <div class='left-panel-inner-row'>
            <div class='left-panel-icon-background' id='icon-background-field'> 
                <i class='left-panel-icon bx bxs-add-to-queue' id='icon-field'></i>
            </div>
            <div class='left-panel-row-text'>
                <span class='row-text-title'>Create custom field</span>
                <span class='row-text-description'>Create a custom field shortcut.</span>
            </div>
            <div class='current-bar'></div>
        </div>
    </div>

    <div class='left-panel-menu-row' id='row-create-page' style='--t:3'>
        <div class='left-panel-inner-row'>
            <div class='left-panel-icon-background' id='icon-background-page'> 
                <i class='left-panel-icon bx bxs-book-add' id='icon-page'></i>
            </div>
            <div class='left-panel-row-text'>
                <span class='row-text-title'>Create custom page</span>
                <span class='row-text-description'>Create custom page with different components.</span>
            </div>
            <div class='current-bar'></div>
        </div>
    </div>
</div>