{% call(content) side.create_left_panel_container('left-panel-content-type', false) %}
    {% if content == 'content' %}
        <div class='left-panel-content-header'>
            <span class='left-panel-header-text'>CONTENTS</span>

            <div class='content-count'>
                <span class='count-num'>0</span>
            </div>
        </div>

        <div class='content-create-content'>
            <div class='content-list-index' id='create-content-icon'>
                <i class='content-list-index-icon fa-solid fa-plus'></i>
            </div>

            <div class='content-list-context' id='create-content-context'>
                <span class='content-list-context-text'>Create new content</span>
            </div>
        </div>

        <div class='left-panel-content-inner-container'>
            <ul class='left-panel-content-list'></ul>
        </div>

        <div class='left-panel-content-pagination'>
            <a class='pagination-anchor backward-anchor' href=''>
                <i class='fa-solid fa-chevron-left'></i>
            </a>
            <a class='pagination-anchor forward-anchor' href=''>
                <i class='fa-solid fa-chevron-right'></i>
            </a>
        </div>
    {% endif %}
{% endcall %}