.content_manager_pop_up{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.content_manager_pop_up#create_content_pop_up{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50rem;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.1rem lightgray;
}

.pop_up_header{
    display: flex;
    align-items: center;
    width: inherit;
    height: 7rem;
    box-shadow: 0 0 0.3rem 0.1rem rgba(211, 211, 211, 0.65);
}

.pop_up_header_text{
    font-size: 3rem;
    font-family: 'Chakra Petch', sans-serif;
}

.pop_up_body{
    width: inherit;
    height: fit-content;
    padding-top: 1rem;
}

#content_creator_form{
    display: flex;
    flex-direction: column;
}

.content_creator_form_body{
    display: flex;
    flex-direction: row;
}

.content_creator_form_footer{
    width: inherit;
    margin-top: 5rem;
}