.content_manager_popup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.content_manager_popup#create_content_popup{
    width: 30rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.1rem lightgray;
}