.home-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background: linear-gradient(-45deg, #ffffff 50%, #322e61 50%);
    overflow: hidden;
}

.main-mask {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 40%, rgba(0, 0, 0, 0.2) 75%, transparent 75%)
}

.context-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    position:fixed;
    width: 50%;
    height: 100%;
    right: 0;
    top: 28rem;
}

.home-container {
    z-index: 2;
    width: fit-content;
    height: fit-content;
    opacity: 1;
    text-align: right;
}

.welcome-container {
    width: 100%;
}

.description-container {
    width: 100%;
}

.start-container {
    width: 100%;
    margin-top: 30rem;
    margin-right: 12rem;
}

.welcome-header {
    font-size: 6rem;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    letter-spacing: 1rem;
    color: black;
    user-select: none;
    margin-right: 3rem;
}

.description-text {
    font-size: 1.8rem;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: black;
    user-select: none;
    margin-right: 5rem;
}

.start-anchor {
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    user-select: none;
}

.start-text {
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1rem;
    color: black;
}

.start-line {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid black;
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.start-container:hover .start-line {
    width: 55rem;
}