.home_main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background: linear-gradient(-45deg, #ffffff 50%, #322e61 50%);
    overflow: hidden;
}

.main_mask{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 40%, rgba(0, 0, 0, 0.2) 75%, transparent 75%)
}

.context_container{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    position:fixed;
    width: 50%;
    height: 100%;
    right: 0;
    top: 280px;
}

.home_container{
    z-index: 2;
    width: fit-content;
    height: fit-content;
    opacity: 1;
    text-align: right;
}

.welcome_container{
    width: 100%;
}

.description_container{
    width: 100%;
}

.start_container{
    width: 100%;
    margin-top: 300px;
    margin-right: 120px;
}

.welcome_header{
    font-size: 60px;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    color: black;
    user-select: none;
    margin-right: 30px;
}

.description_text{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    user-select: none;
    margin-right: 50px;
}

.start_anchor{
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 15px;
    text-decoration: none;
    user-select: none;
}

.start_text{
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
}

.start_line{
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.start_container:hover .start_line{
    width: 550px;
}